body {
  background-color: #fff;
  box-sizing: border-box;
  margin: 0 auto;
}
.gallery-item {
  list-style: none;
}
.gallery-image:hover {
  transform: scale(1.04);
}
.gallery {
  display: flex;
  padding: 24px 156px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;
}
.gallery-image {
  width: 360px;
  height: 200px;
  flex-shrink: 0;
}
